@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* custom colors */
@theme{
    --color-primary: #F86535;
    --color-bg_main: #EEEEEE;
    --color-light: #ffffff;
    --color-dark: #000000;
    --font-display-poppins: "Poppins", sans-serif;
}

@layer components{
    .custom_container{
        @apply max-w-[1225px] mx-auto px-2 md:px-0;
    }

    .catagory_title{
        @apply mb-7 mt-7 border-l-8 h-16 rounded-md border-primary flex items-center text-2xl font-semibold;
    }
}